[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/cvim-pathogen"]
	path = home/.vim/bundle/cvim-pathogen
	url = https://github.com/jbowles/cvim-pathogen.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/vim-snipmate"]
	path = home/.vim/bundle/vim-snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "home/.vim/bundle/snipmate-snippets"]
	path = home/.vim/bundle/snipmate-snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/vimux"]
	path = home/.vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "home/.vim/bundle/vim-slime"]
	path = home/.vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "home/.vim/bundle/vim-ruby-refactoring"]
	path = home/.vim/bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "home/.vim/bundle/vim-golang"]
	path = home/.vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "home/.vim/bundle/vim-elixir"]
	path = home/.vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = git@github.com:jeremyjh/nerdcommenter.git
[submodule "home/.vim/bundle/slimux"]
	path = home/.vim/bundle/slimux
	url = https://github.com/epeli/slimux.git
