[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/cvim-pathogen"]
	path = home/.vim/bundle/cvim-pathogen
	url = https://github.com/jbowles/cvim-pathogen.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/vim-snipmate"]
	path = home/.vim/bundle/vim-snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "home/.vim/bundle/snipmate-snippets"]
	path = home/.vim/bundle/snipmate-snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/vimux"]
	path = home/.vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "home/.vim/bundle/vim-slime"]
	path = home/.vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "home/.vim/bundle/vim-ruby-refactoring"]
	path = home/.vim/bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "home/.vim/bundle/vim-golang"]
	path = home/.vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "home/.vim/bundle/vim-elixir"]
	path = home/.vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "home/.vim/bundle/FuzzyFinder"]
	path = home/.vim/bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "home/.vim/bundle/L9"]
	path = home/.vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "home/.vim/bundle/delimitMate"]
	path = home/.vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "home/.vim/bundle/fuzzyfinder_textmate"]
	path = home/.vim/bundle/fuzzyfinder_textmate
	url = git://github.com/sethbc/fuzzyfinder_textmate.git
[submodule "home/.vim/bundle/tagbar"]
	path = home/.vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "home/.vim/bundle/tlib_vim"]
	path = home/.vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "home/.vim/bundle/vim-addon-mw-utils"]
	path = home/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "home/.vim/bundle/vim-bundler"]
	path = home/.vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/vim-powerline"]
	path = home/.vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/VimClojure"]
	path = home/.vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
