[user]
	email = jeremy@jeremyhuffman.com
	name = Jeremy Huffman
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
  pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight  | less -rx1,5 
[rerere]
	enabled = true
[interactive]
  diffFilter = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight  | less -rx1,5 
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
